* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Slate */
    --txt-color: #f8fafc;
    --bg-color: #334155;
    --footer-color: #020617;
}

body {
    background-color: var(--bg-color);

}

.grid-container {
    display: grid;
    color: var(--txt-color);
    padding: 10px;
    gap: 10px;
}

a {
    color: var(--txt-color)
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#introduction {
    display: flex;
    justify-content: center;
    align-items: center;
}

#journal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--footer-color );
    padding: 50px 15%;
    color: #F9FAFA;
    justify-content: center;
    align-items: center;
}